<nav class="navbar">
    <div class="navbardiv">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item - main">
                <a class="nav-item-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-item-link" href="/users">Пользователи</a>
            </li>

            <li class="nav-item">
                <a class="nav-item-link" href="/brand/all">Наши бренды</a>
            </li>
            <li class="nav-item">
                <a class="nav-item-link" href="/">Регистрация</a>
            </li>
        </ul>
    </div>
</nav>
